@model IEnumerable<GummiBear.Models.Review>
@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recent Reviews - All Products</h2>


@if (Model.Count() >= 1)
{
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            <th>Actions</th>
        </tr>
        @foreach (var review in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelReview => review.Author)</td>
                <td class="center">
                    <a class="action" href=@Url.Action("Details", "Products", new { id = review.ReviewId })><span class="glyphicon glyphicon-th-list" aria-label="details for review"></span></a>
                    <a class="action" href=@Url.Action("Edit", "Products", new { id = review.ReviewId })><span class="glyphicon glyphicon-pencil" aria-label="edit review"></span></a>
                    <a class="action" href=@Url.Action("Delete", "Products", new { id = review.ReviewId })><span class="glyphicon glyphicon-remove" aria-label="delete review"></span></a>
                </td>
            </tr>

        }
    </table>
}
else
{
    <p>No reviews yet! Please add a review above.</p>

}


<hr />