@model IEnumerable<GummiBear.Models.Review>
@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recent Reviews - All Products</h2>


@if (Model.Count() >= 1)
{
    
        @foreach (var review in Model)
        {
            <div class="review">
                <p><label>Author's Name: </label> @review.Author</p>
                <p><label>Review: </label> @review.ContentBody</p>
                <p><label>Rating: </label> @review.Rating</p>
            </div>

        }
}
else
{
    <p>No reviews yet!</p>

}


<hr />