@using GummiBear.Models;
@model Dictionary<Product, int>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h2>Welcome to Gummi Bear Kingdom!</h2>
    <h3>Here are our top 3 products:</h3>
    @foreach (KeyValuePair<Product, int> pair in Model)
    {
    <p>@pair.Key.Name: @pair.Value</p>

    }

    <p>When things happen - enjoy them. They're little gifts. We don't want to set these clouds on fire. All you have to do is let your imagination go wild. This is probably the greatest thing that's ever happened in my life. Don't forget to tell these special people in your life just how special they are to you.</p>

    <p>That's a son of a gun of a cloud. Van Dyke Brown is a very nice brown, it's almost like a chocolate brown. This painting comes right out of your heart. We'll take a little bit of Van Dyke Brown. There's nothing wrong with having a tree as a friend. You can do it.</p>

    <p>If you do too much it's going to lose its effectiveness. If you hypnotize it, it will go away. Let's get wild today.</p>

    <p>Paint anything you want on the canvas. Create your own world. Maybe there's a happy little waterfall happening over here. We'll put all the little clouds in and let them dance around and have fun. There are no limits in this world. Let's go up in here, and start having some fun</p>

    <p>I'm going to mix up a little color. We’ll use Van Dyke Brown, Permanent Red, and a little bit of Prussian Blue. We'll make some happy little bushes here. Use your imagination, let it go. We spend so much of our life looking - but never seeing. That's what makes life fun. That you can make these decisions. That you can create the world that you want.</p>

    <p>Everything is happy if you choose to make it that way. Everyone wants to enjoy the good parts - but you have to build the framework first. Just use the old one inch brush. It's amazing what you can do with a little love in your heart.</p>

    <p>This is unplanned it really just happens. The light is your friend. Preserve it. If you didn't have baby clouds, you wouldn't have big clouds. Each highlight must have it's own private shadow. They say everything looks better with odd numbers of things. But sometimes I put even numbers—just to upset the critics. The man who does the best job is the one who is happy at his job.</p>



</div>
