@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h2>Welcome to Gummi Bear Kingdom!</h2>
    <p>You want your tree to have some character. Make it special. Life is too short to be alone, too precious. Share it with a friend. There's nothing wrong with having a tree as a friend. Let your heart be your guide. Those great big fluffy clouds.</p>
    <p>Get tough with it, get strong. There it is. Every day I learn. This is an example of what you can do with just a few things, a little imagination and a happy dream in your heart. We don't want to set these clouds on fire.</p>
    <p>Get away from those little Christmas tree things we used to make in school. It's almost like something out of a fairytale book. Nature is so fantastic, enjoy it. Let it make you happy. They say everything looks better with odd numbers of things. But sometimes I put even numbers—just to upset the critics.</p>
    <p> Get away from those little Christmas tree things we used to make in school. It's almost like something out of a fairytale book. Nature is so fantastic, enjoy it. Let it make you happy. They say everything looks better with odd numbers of things. But sometimes I put even numbers—just to upset the critics.</p>
  

</div>
