body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
}

h2 {
    margin-right: 30px;
}


.top-product {
    border: 1px dashed black;
    border-radius: 20px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/* Set widths on the form inputs since otherwise they're 100% wide 
input,
select,
textarea {
    max-width: 280px;
}*/

.action {
    margin: 0 10px 0 10px;
}

th {
    text-align:center;
}

.center {
    text-align:center;
}

.navbar {
    background-color: #EB9486;
    border-color: #EB9486;
    font-family: 'Maven Pro', sans-serif;
}

.navbar-brand {
    color: #1C3144 !important;
}

a {
    color: #1C3144 !important;
}

    a:hover {
        color: #7E7F9A !important;
    }

h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Maven Pro', sans-serif;
}

.options {
    display:flex;
    justify-content: center;
}

.option-item {
    margin: 0 20px 20px 20px;
    font-size: 1.5em;
}

.option-item:hover {
    text-decoration: none;
}

.pipe {
    font-size: 1.5em;
}

.page-nav {
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: bold;
}

.danger-button {
    background-color: #7E7F9A;
    color: #F9F8F8;
    display:flex;
}

    .danger-button:hover {
        background-color: #A5A6C9;
        color: #F9F8F8;
    }

.delete-justify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special {
    font-size: 2em;
}

.text-body {
    margin-left: 20px;
}

.post-title {
    font-size: 2em;
    font-weight: bold;
}

.review {
    border: 1px dashed black;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


